.talbar {
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  width: 80%;
  height: 100%;
  margin: auto;
  background-color: rgb(247, 240, 240);
}

.title:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgb(212, 212, 212);
}
.Post:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgb(228, 187, 187);
}

.talbar {
  margin-top: 100px;
}
.title {
  width: 90%;
  margin: auto;
}
h3 {
  /* font-style: oblique; */
  font-variant-caps: all-petite-caps;
}
.Post {
  width: 90%;
  margin: auto;
  outline: none;
  box-shadow: 0 0 0 3px rgb(206, 203, 203);
}

.Buttons {
  margin-left: 100px;
}
@media (min-width: 500px) {
  .CreatPost {
    width: 70%;
    margin: auto;
    height: 100%;
  }
}

.Button {
  background-color: transparent;
  border: none;
  color: #5c9210;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
}

.ButtonBack {
  background-color: transparent;
  border: none;
  color: #b63e3e;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
}
