/* ========================== */
/* pagination style */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-weight: 500;
  font-size: 15px;
}

.pagination a {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  height: 40px;
  width: 40px;
  text-decoration: none;
  transition: background-color 0.2s;
  border: 1px solid #ddd;
  cursor: pointer;
}
.pagination a.active {
  background-color: #007bff;
  color: white;
  border: 1px solid #7cbddb;
}
.pagination a.disabled {
  opacity: 0.2;
}
.pagination a:hover:not(.active) {
  background-color: rgb(238, 238, 238);
}
