.MenuItem {
  margin: 10px;
  display: block;
  width: 100%;
  align-items: center;
}

.MenuItem a {
  background-color: transparent;
  color: #030303;
  outline: none;
  cursor: pointer;
  font: inherit;
  margin: 10px;
  font-weight: bold;
  border-bottom: 2px solid rgb(0, 0, 0);
}
.MenuItem a:hover,
.MenuItem a:active,
.MenuItem a.active {
  color: #40a4c8;
}

@media (min-width: 540px) {
  .MenuItem {
    margin: 0;
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
    /* background-color: #3b9db6; */
  }

  .MenuItem a {
    color: white;
    text-decoration: none;
    height: 100%;
    padding: 16px 10px;
    border-bottom: 4px solid transparent;
  }
  .MenuItem a:hover,
  .MenuItem a:active,
  .MenuItem a.active {
    background-color: rgb(117, 189, 189);
    border-bottom: 4px solid #46ff40;
  }
}
