.Images {
  margin: auto;
  width: 100%;
  height: 200px;
}
.Image {
  margin: auto;
  width: 100%;
  height: 200px;
}
@media (min-width: 500px) {
  .Images {
    margin-top: 55px;
    width: 80%;
    height: 400px;
    border: 1px solid;
    box-shadow: 4px 8px #a3a3a3;
  }
  .Image {
    width: 100%;
    height: 400px;
  }
}
