.Menu {
  list-style: none;
  display: flex;
  flex-flow: column;
  margin: 0px;
  padding: 0px;
  height: 100%;
  align-items: center;
}
/* .MenuItem {
  margin-left: 540px;
  margin-top: 20px;
} */
.MenuItem a {
  margin: 10px;
  width: 100%;
  align-items: center;
  background-color: transparent;
  color: #030303;
  outline: none;
  cursor: pointer;
  font: inherit;
  margin: 10px;
  font-weight: bold;
  border-bottom: 2px solid rgb(0, 0, 0);
}
@media (min-width: 540px) {
  .Menu {
    flex-flow: row;
  }
}
