.Login {
  margin-top: 200px;
  width: 350px;
  height: 250px;
  border: 1px solid rgb(7, 71, 145);
  box-sizing: border-box;
  box-shadow: 0 2px 3px rgb(13, 155, 8);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.Login input {
  height: 20px;
  border: 1px solid rgb(7, 71, 145);
  display: block;
  font-size: 18px;
  padding: 5px;
  margin: 10px auto;
}
.Login button {
  margin: auto;
  width: 90px;
  height: 40px;
  text-align: inherit;
  background-color: rgb(26, 121, 150);
  border: 1px solid rgb(71, 75, 75);
  border-radius: 20%;
}
