.Post {
  margin-left: auto;
  margin-right: auto;
  width: 40px;
  height: 40px;
  z-index: 5;
}
.Space {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  margin-top: 20px;
  width: 100%;
  color: rgb(0, 0, 0);
  box-shadow: 0 0 2px 0 rgb(123, 124, 124);
}
.text {
  margin: auto;
  margin-top: 20px;
  margin-left: 20px;
  /* border: 2px solid green; */
}

.name {
  margin-left: 250px;
  margin-top: 10px;
  z-index: 20;
  /* border: 2px solid green; */
  text-align: center;
  height: 15px;
}
.Color {
  font-size: 18px;
  height: 45px;
  width: 150px;
  cursor: pointer;
  text-align: center;
}

.Color:focus {
  outline: none;
  box-shadow: 0 0 0 4px rgb(81, 89, 94);
}
.Color:active {
  background-color: #333;
  border-color: #333;
  color: #eee;
}

.Space td {
  color: rgb(64, 82, 119);
}
.Space h3 {
  width: 200px;
  color: rgb(38, 93, 138);
  z-index: 50;
  margin-top: -25px;
  text-align: left;
}
.btndate {
  height: 30px;
  width: 100%;
  margin: auto;
  margin-top: 20px;
  /* padding-top: 20px; */
}

.ButtonEdit {
  background-color: transparent;
  border: none;
  color: #5c9210;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
}
.ButtonDelete {
  background-color: transparent;
  border: none;
  color: #ad2a2a;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
}
.Date {
  margin-top: -20px;
  margin-left: 220px;
}

.Create {
  background-color: transparent;
  border: none;
  color: #2c3f13;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  font-weight: bold;
  border-bottom: 2px solid rgb(0, 0, 0);
  /* background-color: rgb(255, 255, 255); */
}
.Create:hover {
  color: rgb(181, 180, 194);
}

.PostEdge {
  margin: auto;
  width: 380px;
}

@media (min-width: 500px) {
  .PostEdge {
    width: 70%;
    margin: auto;
    height: 100%;
  }
}
