.EditPost {
  width: 80%;
  margin: auto;
  margin-top: 80px;
}

.title {
  width: 90%;
  margin: auto;
}

.Post {
  width: 90%;
  margin: auto;
}

.talbar {
  margin-top: 50px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  margin: auto;
}

.title:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgb(212, 212, 212);
}
.Post:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgb(228, 187, 187);
}
.title {
  width: 90%;
  outline: none;
  box-shadow: 0 0 0 3px rgb(199, 199, 199);
}

.Post {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  outline: none;
  box-shadow: 0 0 0 3px rgb(187, 176, 176);
}
.Buttons {
  margin-left: 100px;
}

h3 {
  font-variant-caps: all-petite-caps;
}
@media (min-width: 500px) {
  .EditPost {
    width: 50%;
  }
}
