.Singup {
  margin-top: 200px;
  width: 300px;
  height: auto;
  border: 1px solid rgb(7, 71, 145);
  box-sizing: border-box;
  box-shadow: 0 2px 3px rgb(230, 5, 5);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.Singup input {
  height: 20px;
  border: 1px solid rgb(7, 71, 145);
  display: block;
  font-size: 18px;
  padding: 5px;
  margin: 10px auto;
}
/* .Singup button {
  margin: auto;
  width: 90px;
  height: 40px;
  text-align: inherit;
  background-color: rgb(60, 199, 192);
  border: 1px solid rgb(4, 136, 129);
  border-radius: 20%;
} */
